<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://cdn.tailwindcss.com"></script>
	<title>Document</title>
</head>
<body class="bg-gray-100">
	<!-- header -->
	<div class="px-4 sm:px-6 lg:px-8">
		<div class="sm:flex sm:items-center">
			<div class="sm:flex-auto">
				<h1 class="text-base font-semibold leading-6 text-gray-900">Projects</h1>
				<p class="mt-2 text-sm text-gray-700">2021 Commits: {{2021}}</p>
				<p class="mt-2 text-sm text-gray-700">2022 Commits: {{2022}}</p>
				<p class="mt-2 text-sm text-gray-700">2023 Commits: {{2023}}</p>
			</div>

		</div>
		<div class="mt-8 flow-root">
			<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
				<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
					<table class="min-w-full divide-y divide-gray-300">
						<thead>
							<tr>
								<th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Commits</th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Visibility</th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Main Language</th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Topics</th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created At</th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last Updated</th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"> Readme URL </th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"> Repo URL </th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Description</th>
							</tr>
						</thead>
						<tbody class="divide-y divide-gray-200">
							<!-- repos -->
							<tr>
								<td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{REPO-NAME}}
								</td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{REPO-COMMITS}}</td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{REPO-VISIBILITY}}</td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{REPO-MAIN-LANGUAGE}}</td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{REPO-REPO-TOPICS}}</td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{REPO-CREATED-DATE}}</td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{REPO-LAST-UPDATED}}</td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
									<a href="{{REPO-README}}" target="_blank" class="text-indigo-600 hover:text-indigo-900">Readme<span
											class="sr-only">link to readme</span></a>
								</td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
									<a href="{{REPO-URL}}" target="_blank" class="text-indigo-600 hover:text-indigo-900">Repo Url<span
											class="sr-only">link to repository</span></a>
								</td>
								<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{REPO-DESCRIPTION}}</td>
							</tr>

							<!-- end -->

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>